.landing-page-pathfinder-container {
	width: 100%;
	height: 600px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	background-image: url("../assets/hero_flipped.jpg");
	background-position: 0% 40%;
  }
  .landing-page-cnc-container {
	width: 100%;
	height: 600px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-size: cover;
	background-image: url("../assets/hero_flipped.jpg");
	background-position: 0% 40%;
  }